/* CSS in `visual.css` is only used to make things look nice. Ignore them for now. */

html,
body {
  width: auto;
  height: auto;
}

h3 {
  text-align: center;
}

.large-button {
  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
  border-radius: 4px;
  display: block;
  margin: 5px 0;
  padding: 10px 5px;
}

section {
  max-width: 400px;
  padding: 5px 10px;
}

#myurl{
  line-height: 18.4px;
  font-size: 12px;
}

#site_url_confirm{
  font-size: 14px;
}

button:hover
{
  border: 1px solid #d8d8d8;
  background: #f2f2f2;
}