/* CSS in `visual.css` is only used to make things look nice. Ignore them for now. */

html,
body {
  width: auto;
  height: auto;
}

h3 {
  text-align: center;
  margin-top: 0px;
}

.large-button {
  /*background: linear-gradient(to right, #67b26b, #4ca2cb) !important;*/
  background: #ffffff;
  border-radius: 2.5px;
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  position: absolute;
  margin-block-end: auto;
  margin-block-start: auto;
  margin-inline-end: auto;
  margin-inline-start: 5px;
}

section {
  max-width: 400px;
  padding: 5px 10px;
}

#myurl{
  line-height: 18.4px;
  font-size: 12px;
}

#site_url_confirm, #form-prev{
  align-items: center;
  block-size: 1.6rem;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  color: #000;
  font-size: 0.833rem;
  inline-size: 5.833rem;
  justify-content: center;
  text-decoration: none;
  background-color: white;
}

#site_url_confirm:hover, #form-prev:hover{
  background-color: #f2f2f2;
}

.large-button:hover{
  background-color: #f2f2f2;
}

.issues-icon
{
  width:32px;
  height:32px;
  box-sizing: border-box;
  float: none;
  padding: 5px 10px;
  background-color:rgba(86, 99, 140, 1);
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  border-top-left-radius: 2.5px;
  border-top-right-radius: 2.5px;
  margin-block-end: auto;
  margin-block-start: auto;
  margin-inline-end: auto;
  margin-inline-start: auto;
}

p
{
  margin: 0;
}

input[type=text] {
  width: 300px;
}