* {
    font-size: inherit;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
}

.wrong_site{
    color: #494949 !important;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    background: #ffffff;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    margin: 2px;
}

.wrong_site:hover{
    color: #ffffff !important;
    background: #569294;
    border-color: #569294 !important;
    transition: all 0.4s ease 0s;
}